body{
    margin:0;
    background-image: url("/public/img/background.webp");
    background-size: cover;
}

.container{
    background-color: white;
    min-height: 100vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* 마진을 잘못쓰면 의도치않은 선이 생길 수 있음 유의@@
.container div{
    margin-bottom: 10px;
} */

.input-area{
    padding-bottom: 20px;
}

.title-area{
    display: flex;
}

.title-area div{
    padding: 1em;
}

.task-area{
    border: 1px solid lightblue;
}

.task-tabs{
    display: flex;
    border-bottom: 1px solid lightblue;
    position:relative;
}

.task-tabs div{
    /* margin: 1em; */ 
    padding: 1em;
}

#under-line{
    background-color: rgb(230, 204, 173);
    height: 8px;
    position:absolute;
    width: 50px;
    top: 50px;
    padding: 0px;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid lightblue;
}





/* .task-tabs{
    cursor: pointer;
} */