body{
    margin:0;
    background-image: url("/public/img/background.webp");
    background-size: cover;
}

.container{
    background-color: white;
    min-height: 100vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.container div{
    margin-bottom: 10px;
}

.title-area{
    display: flex;
}

.title-area div{
    padding: 1em;
}

.task-tabs{
    display: flex;
    border: 1px solid lightblue;
}

.task-tabs div{
    /* margin: 1em; */
    padding: 1em;
}

.input-area{
    padding-bottom: 20px;
}